/* general */
body {
  font-family: 'Stalinist One', sans-serif;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1024px;
  background-color: #444;
}

div, header, footer {
  background-color: #828282;
  border-radius: 10px;
  margin-bottom: 2%;
  padding: 1%;
}

.template {
  display: none;
}

/* header */
header {
  margin: 0 0 2% 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

h1 {
  margin: 0 3%;
}

/* overlay */
#overlay {
  display: none;
}

/* login */
#login {
  display: none;
}

/* board */

#board.active td {
  cursor: pointer;
}

#board table {
  width: 100%;
  height: 100%;
}

td {
  width: 5%;
  height: 5%;
  background-color: #666;
  border-radius: 5px;
  cursor: progress;
}

.color_0 {
  background-color: #B20000;
}
.color_1 {
  background-color: #194719;
}
.color_2 {
  background-color: #09F;
}
.color_3 {
  background-color: #E86C19;
}
.color_4 {
  background-color: #5C00E6;
}
.color_5 {
  background-color: #C0C;
}

/* player names */
.player {
  overflow: hidden;
  background-color: #666;
  border: medium solid #666;
}
.player.active {
  background-color: #999;
}
.player .me {
  display: none;
}
.player.me .me{
  display: inline;
}

/* cards */
#cards {
  overflow: auto;
}
.card {
  float: left;
  margin: 1%;
  width: 10%;
  border: medium solid #444;
}
.red {background-color: red;}
.green {background-color: green;}
.blue {background-color: blue;}

/* footer */

/* orientation */
@media all and (orientation: landscape) {
  #board {
    width: 70%;
    float: left;
  }
  #players, #start, #cards {
    width: 23%;
    float: right;
  }
  .card {
    width: 40%;
  }
  .card:nth-child(even) {
    float: right;
  }
  footer {
    clear: both;
  }
}
